
body {

    background-color: rgb(255, 255, 255);
    
    }
    
#baslik {
height: 65px;
top: 0;
left: 0;
right: 0;
}

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 70px;
        background-color: rgb(132, 52, 163);
      }
      
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-right: 40px;
         
      }
      
      nav li {
        float: right;
        margin-top: 10px;
        
      }
    
    
      nav button {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Bree Serif', serif;
        font-size: 16px;
        background: transparent;
        border: 0px;
      }

      nav button:hover {

        color :#a6a6a6;
      }
    
      label{
    
    color: white;
    font-family: 'Bree Serif', serif;
      }
    
      #login-popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
      }
      
      #login-popup form {
        background-color: rgb(191, 205, 209);
        margin: 15% auto;
        width: 300px;
        height: 120px;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
    
      img { 
    width: 30px;
      }
    
      #signup-popup{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }
    
    
      .kayitform {
        background-color: rgb(132, 52, 163);
        margin: 25% auto;
        width: 300px;
        height: 150px;
        padding: 30px;
        border: 1px solid #888;
        width: 20%;
      }

      .sepeturunler{
        margin-top: 2%;
        margin-left: 4%;
        width: 1200px;
        height: 200px;
        background-color: rgb(169, 120, 189);
        border: 1px solid rgb(88, 88, 88);
        border-radius: 20px;
                  }

                  
    .sepeturunler:hover {
    background-color: rgb(194, 157, 207);
                       }

    #login-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #login-popup form {
    background-color: rgb(191, 205, 209);
    margin: 15% auto;
    width: 300px;
    height: 120px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  img {

width: 30px;
  }

  #signup-popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }


  .kayitform {
    background-color: rgb(132, 52, 163);
    margin: 25% auto;
    width: 300px;
    height: 150px;
    padding: 30px;
    border: 1px solid #888;
    width: 20%;
  }

  .urunler{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    width: 320px;
    height: 370px;
    background-color: rgb(169, 120, 189);
    border: 1px solid rgb(62, 101, 112);
    border-radius: 20px;
    }

  .urunler:hover {
    background-color: rgb(194, 157, 207);
}
